.thumb{
    height: 200px !important;
    
}

.featured-img{
    width: 100% !important;
}

.featured-img.big{
    height: 520px;
}

.featured-img.small{
    height: 250px;
}

.content{
    padding-bottom: 10px;
    width: 100%;
}

.content-top{
    padding-bottom: 0px; 
}